.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.box {
    position: relative;
    display: inline-block;
}

.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: -34%;
    right: 0;
    text-align: center;
    top: 93%;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    color: #fff;
    width: 150%;
    height: 20%;
}

.avaFB {
    border-radius: 50%;
}

.user_image {
    width: 100px;
    height: 100px;
}

.bxh {
    text-align: center;
}

.top {
    font-weight: 600;
}

.name {
    color: white
}

.linkfb:hover {
    text-decoration: none;
}